{% extends "base.html" %}

{% block content %}
<h1>REGULAR SEASON</h1>
    <table>
        <tr>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Date</th>
            <th>Home Team score</th>
            <th>Away Team score</th>
        </tr>
        {% for game in regular_games %}
            <tr>
                <td>{{ game.home_team.code }}</td>
                <td>{{ game.away_team.code }}</td>
                <td>{{ game.schedule }}</td>
                <td>{{ game.home_pts }}</td>
                <td>{{ game.away_pts }}</td>
            </tr>
        {% endfor %}
    </table>
<h1>PLAYOFFS</h1>
    <table>
        <tr>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Date</th>
            <th>Home Team score</th>
            <th>Away Team score</th>
        </tr>
        {% for game in playoff_games %}
            <tr>
                <td>{{ game.home_team.code }}</td>
                <td>{{ game.away_team.code }}</td>
                <td>{{ game.schedule }}</td>
                <td>{{ game.home_pts }}</td>
                <td>{{ game.away_pts }}</td>
            </tr>
        {% endfor %}
    </table>
<div id="side-bar">
    <h1>STANDINGS</h1>
        <table>
            <tr>
                <th>Team</th>
                <th>W</th>
                <th>L</th>
                <th>PCT%</th>
            </tr>
            {% for list in standings|dictsortreversed:"win_p" %}
                <tr>
                    <td>{{ list.team }}</td>
                    <td>{{ list.win }}</td>
                    <td>{{ list.loss }}</td>
                    <td>{{ list.win_p }}</td>
                </tr>
            {% endfor %}
        </table>
</div>
{% endblock %}
