{% extends "base_team.html" %}
{% block section %}
    <table>
        <tr>
            <th>No.</th>
            <th>Player</th>
            <th>Pos</th>
            <th>Ht</th>
            <th>Wt</th>
            <th>Birth Date</th>
            {% if league.id == 1 %}
                <th>College</th>
                <th>High School</th>
            {% else %}
                <th>High School</th>
            {% endif %}
        </tr>
        {% for player in players %}
            <tr>
                <td>{{ player.current_jersey_number }}</td>
                <td>{{ player.first_name }} {{ player.last_name }}</td>
                <td>{{ player.position }}</td>
                <td>{{ player.get_height }}</td>
                <td>{{ player.weight }} lbs.</td>
                {% if player.birthday %}
                    <td>{{ player.birthday }}</td>
                {% else %}
                    <td>NA</td>
                {% endif %}

                {% if league.id == 1 %}
                    <td>{{ player.college }}</td>
                    <td>{{ player.high_school }}</td>
                {% else %}
                    <td>{{ player.highschool }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
