{% extends "base_team.html" %}

{% block section %}

<h3>Schedule & Results </h3>
{% if league.id == 1 %}
    {% regroup table by tournament.parent.short_name as tournament_list %}
    <ul>
    {% for tournament in tournament_list %}
        {% if tournament.grouper %}
            <li>{{ tournament.grouper }}
            <ul>
                {% for item in tournament.list %}
                    <li><a href="{% url 'teams:team:tournament:schedule' league.code team.code item.tournament.id %}">{{ item.tournament.short_name }}</a></li>
                {% endfor %}
            </ul>
            </li>
        {% endif %}
    {% endfor %}
{% else %}
    <ul>
    {% for item in table %}
        <li><a href="{% url 'teams:team:tournament:schedule' league.code team.code item.tournament.id %}">{{ item.tournament.short_name }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
</ul>
<h1>REGULAR SEASON</h1>
    <table>
        <tr>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Date</th>
            <th>Home Team score</th>
            <th>Away Team score</th>
        </tr>
        {% for game in regular_games %}
            <tr>
                <td>{{ game.home_team.code }}</td>
                <td>{{ game.away_team.code }}</td>
                <td>{{ game.schedule }}</td>
                <td>{{ game.home_pts }}</td>
                <td>{{ game.away_pts }}</td>
            </tr>
        {% endfor %}
    </table>
<h1>PLAYOFFS</h1>
    <table>
        <tr>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Date</th>
            <th>Home Team score</th>
            <th>Away Team score</th>
        </tr>
        {% for game in playoff_games %}
            <tr>
                <td>{{ game.home_team.code }}</td>
                <td>{{ game.away_team.code }}</td>
                <td>{{ game.schedule }}</td>
                <td>{{ game.home_pts }}</td>
                <td>{{ game.away_pts }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
