{% extends "base.html" %}

{% block content %}
<h1>{{ team.team_name }} {{ team.nickname }}</h1>
<h2>{{ seasons|length }} Seasons</h2>

<table>
    <tr>
        <th>Season</th>
        <th>W</th>
        <th>L</th>
        <th>W/L%</th>
        <th>Pace</th>
        <th>Relative Pace</th>
        <th>ORTG</th>
        <th>Relative ORTG</th>
        <th>DRTG</th>
        <th>Relative DRTG</th>
        <th>Results</th>
        <th>Top WS</th>
    </tr>
    {% for item in standings %}
        <tr>
            <td>{{ item.tournament }}</td>
            <td>{{ item.win }}</td>
            <td>{{ item.loss }}</td>
            <td>{{ item.win_p }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
