{% extends "base_team.html" %}
{% block section %}
    <h3><a name="roster">Roster</a></h3>
    <table>
        <tr>
            <th>No.</th>
            <th>Player</th>
            <th>Pos</th>
            <th>Ht</th>
            <th>Wt</th>
            <th>Birth Date</th>
            {% if league.id == 1 %}
                <th>College</th>
                <th>High School</th>
            {% else %}
                <th>High School</th>
            {% endif %}
        </tr>
        {% for player in players %}
            <tr>
                <td>{{ player.current_jersey_number }}</td>
                <td>{{ player.first_name }} {{ player.last_name }}</td>
                <td>{{ player.position }}</td>
                <td>{{ player.get_height }}</td>
                <td>{{ player.weight }} lbs.</td>
                {% if player.birthday %}
                    <td>{{ player.birthday }}</td>
                {% else %}
                    <td>NA</td>
                {% endif %}

                {% if league.id == 1 %}
                    <td>{{ player.college }}</td>
                    <td>{{ player.high_school }}</td>
                {% else %}
                    <td>{{ player.highschool }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <h3><a name="team_stats"></a>Team and Opponent Stats</h3>
    <h4>Totals</h4>
    <table>
        <tr>
            <th> </th>
            <th>G</th>
            <th>MP</th>
            <th>PTS</th>
            <th>FGM</th>
            <th>FGA</th>
            <th>FG%</th>
            <th>3PM</th>
            <th>3PA</th>
            <th>3P%</th>
            <th>FTM</th>
            <th>FTA</th>
            <th>FT%</th>
            <th>ORB</th>
            <th>DRB</th>
            <th>TRB</th>
            <th>AST</th>
            <th>STL</th>
            <th>BLK</th>
            <th>TOV</th>
            <th>PF</th>
        </tr>
        <tr>
            <td>Team</td>
            <td>{{ team_total_table.total_games_played }}</td>
            <td>{{ team_total_table.total_minutes_played }}</td>
            <td>{{ team_total_table.total_points_scored }}</td>
            <td>{{ team_total_table.total_fg_made }}</td>
            <td>{{ team_total_table.total_fg_attempts}}</td>
            <td>{{ team_total_table.fg_percent }}</td>
            <td>{{ team_total_table.total_three_pt_made }}</td>
            <td>{{ team_total_table.total_three_pt_attempts }}</td>
            <td>{{ team_total_table.three_pt_percent }}</td>
            <td>{{ team_total_table.total_ft_made }}</td>
            <td>{{ team_total_table.total_ft_attempts }}</td>
            <td>{{ team_total_table.ft_percent }}</td>
            <td>{{ team_total_table.total_offensive_reb }}</td>
            <td>{{ team_total_table.total_defensive_reb }}</td>
            <td>{{ team_total_table.reb }}</td>
            <td>{{ team_total_table.total_assists }}</td>
            <td>{{ team_total_table.total_steals }}</td>
            <td>{{ team_total_table.total_blocks }}</td>
            <td>{{ team_total_table.total_turnovers }}</td>
            <td>{{ team_total_table.total_personal_fouls }}</td>
        </tr>
        <tr>
            <td>Opp</td>
            <td>{{ opp_team_total_table.total_games_played }}</td>
            <td>{{ opp_team_total_table.total_minutes_played }}</td>
            <td>{{ opp_team_total_table.total_points_scored }}</td>
            <td>{{ opp_team_total_table.total_fg_made }}</td>
            <td>{{ opp_team_total_table.total_fg_attempts}}</td>
            <td>{{ opp_team_total_table.fg_percent }}</td>
            <td>{{ opp_team_total_table.total_three_pt_made }}</td>
            <td>{{ opp_team_total_table.total_three_pt_attempts }}</td>
            <td>{{ opp_team_total_table.three_pt_percent }}</td>
            <td>{{ opp_team_total_table.total_ft_made }}</td>
            <td>{{ opp_team_total_table.total_ft_attempts }}</td>
            <td>{{ opp_team_total_table.ft_percent }}</td>
            <td>{{ opp_team_total_table.total_offensive_reb }}</td>
            <td>{{ opp_team_total_table.total_defensive_reb }}</td>
            <td>{{ opp_team_total_table.reb }}</td>
            <td>{{ opp_team_total_table.total_assists }}</td>
            <td>{{ opp_team_total_table.total_steals }}</td>
            <td>{{ opp_team_total_table.total_blocks }}</td>
            <td>{{ opp_team_total_table.total_turnovers }}</td>
            <td>{{ opp_team_total_table.total_personal_fouls }}</td>
        </tr>
    </table>

    <h4>Per Game</h4>
    <table>
        <tr>
            <th> </th>
            <th>G</th>
            <th>MP</th>
            <th>PTS</th>
            <th>FGM</th>
            <th>FGA</th>
            <th>FG%</th>
            <th>3PM</th>
            <th>3PA</th>
            <th>3P%</th>
            <th>FTM</th>
            <th>FTA</th>
            <th>FT%</th>
            <th>ORB</th>
            <th>DRB</th>
            <th>TRB</th>
            <th>AST</th>
            <th>STL</th>
            <th>BLK</th>
            <th>TOV</th>
            <th>PF</th>
        </tr>
        <tr>
            <td>Team</td>
            <td>{{ team_per_game_table.games_played }}</td>
            <td>{{ team_per_game_table.minutes_played }}</td>
            <td>{{ team_per_game_table.points_scored }}</td>
            <td>{{ team_per_game_table.fg_made }}</td>
            <td>{{ team_per_game_table.fg_attempts}}</td>
            <td>{{ team_per_game_table.fg_percent }}</td>
            <td>{{ team_per_game_table.three_pt_made }}</td>
            <td>{{ team_per_game_table.three_pt_attempts }}</td>
            <td>{{ team_per_game_table.three_pt_percent }}</td>
            <td>{{ team_per_game_table.ft_made }}</td>
            <td>{{ team_per_game_table.ft_attempts }}</td>
            <td>{{ team_per_game_table.ft_percent }}</td>
            <td>{{ team_per_game_table.offensive_reb }}</td>
            <td>{{ team_per_game_table.defensive_reb }}</td>
            <td>{{ team_per_game_table.reb }}</td>
            <td>{{ team_per_game_table.assists }}</td>
            <td>{{ team_per_game_table.steals }}</td>
            <td>{{ team_per_game_table.blocks }}</td>
            <td>{{ team_per_game_table.turnovers }}</td>
            <td>{{ team_per_game_table.personal_fouls }}</td>
        </tr>
        <tr>
            <td>Opp</td>
            <td>{{ opp_team_per_game_table.games_played }}</td>
            <td>{{ opp_team_per_game_table.minutes_played }}</td>
            <td>{{ opp_team_per_game_table.points_scored }}</td>
            <td>{{ opp_team_per_game_table.fg_made }}</td>
            <td>{{ opp_team_per_game_table.fg_attempts}}</td>
            <td>{{ opp_team_per_game_table.fg_percent }}</td>
            <td>{{ opp_team_per_game_table.three_pt_made }}</td>
            <td>{{ opp_team_per_game_table.three_pt_attempts }}</td>
            <td>{{ opp_team_per_game_table.three_pt_percent }}</td>
            <td>{{ opp_team_per_game_table.ft_made }}</td>
            <td>{{ opp_team_per_game_table.ft_attempts }}</td>
            <td>{{ opp_team_per_game_table.ft_percent }}</td>
            <td>{{ opp_team_per_game_table.offensive_reb }}</td>
            <td>{{ opp_team_per_game_table.defensive_reb }}</td>
            <td>{{ opp_team_per_game_table.reb }}</td>
            <td>{{ opp_team_per_game_table.assists }}</td>
            <td>{{ opp_team_per_game_table.steals }}</td>
            <td>{{ opp_team_per_game_table.blocks }}</td>
            <td>{{ opp_team_per_game_table.turnovers }}</td>
            <td>{{ opp_team_per_game_table.personal_fouls }}</td>
        </tr>
    </table>

    <h4>Advanced</h4>
    <table>
        <tr>
            <th colspan="6">Miscellaneous Stats</th>
            <th colspan="4">Offensive Four Factors</th>
            <th colspan="4">Defensive Four Factors</th>
            <th colspan="5">Differential</th>
        </tr>
        <tr>
            <th> </th>
            <th>ORTG</th>
            <th>DRTG</th>
            <th>Pace</th>
            <th>3PTR</th>
            <th>FTR</th>
            <th>eFG%</th>
            <th>TOV%</th>
            <th>ORB%</th>
            <th>FT/FGA</th>
            <th>eFG%</th>
            <th>TOV%</th>
            <th>ORB%</th>
            <th>FT/FGA</th>
            <th>RTG</th>
            <th>eFG%</th>
            <th>TOV%</th>
            <th>ORB%</th>
            <th>FT/FGA</th>
        </tr>
        <tr>
            <td>Team</td>
            <td>{{ ortg }}</td>
            <td>{{ drtg }}</td>
            <td>{{ pace }}</td>
            <td>{{ team_adv_table.three_point_rate}}</td>
            <td>{{ team_adv_table.ft_rate }}</td>
            <td>{{ team_adv_table.o_efg }}</td>
            <td>{{ team_adv_table.o_tov }}</td>
            <td>{{ team_adv_table.o_orb }}</td>
            <td>{{ team_adv_table.o_ftp }}</td>
            <td>{{ team_adv_table.d_efg }}</td>
            <td>{{ team_adv_table.d_tov }}</td>
            <td>{{ team_adv_table.d_orb }}</td>
            <td>{{ team_adv_table.d_ftp }}</td>
            <td>{{ team_adv_table.diff_rtg }}</td>
            <td>{{ team_adv_table.diff_efg }}</td>
            <td>{{ team_adv_table.diff_tov }}</td>
            <td>{{ team_adv_table.diff_orb }}</td>
            <td>{{ team_adv_table.diff_ftp }}</td>
        </tr>
    </table>

    <h3>Player Stats</h3>
    <h4><a name="players_totals">Totals</a></h4>
    <table>
        <tr>
            <th>Player</th>
            <th>Age</th>
            <th>GP</th>
            <th>GS</th>
            <th>MP</th>
            <th>PTS</th>
            <th>FGM</th>
            <th>FGA</th>
            <th>FG%</th>
            <th>3PM</th>
            <th>3PA</th>
            <th>3P%</th>
            <th>FTM</th>
            <th>FTA</th>
            <th>FT%</th>
            <th>ORB</th>
            <th>DRB</th>
            <th>TRB</th>
            <th>AST</th>
            <th>STL</th>
            <th>BLK</th>
            <th>TOV</th>
            <th>PF</th>
        </tr>
        {% for player in player_totals_table %}
            <tr>
                <td><a href="{{ player.player.get_absolute_url }}">{{ player.full_name }}</a></td>
                <td>{{ player.age }}</td>
                <td>{{ player.games_played }}</td>
                <td>{{ player.games_started }}</td>
                <td>{{ player.minutes_played }}</td>
                <td>{{ player.points_scored }}</td>
                <td>{{ player.fg_made }}</td>
                <td>{{ player.fg_attempts }}</td>
                <td>{{ player.fg_percent }}</td>
                <td>{{ player.three_pt_made }}</td>
                <td>{{ player.three_pt_attempts }}</td>
                <td>{{ player.three_pt_percent }}</td>
                <td>{{ player.ft_made }}</td>
                <td>{{ player.ft_attempts }}</td>
                <td>{{ player.ft_percent }}</td>
                <td>{{ player.offensive_reb }}</td>
                <td>{{ player.defensive_reb }}</td>
                <td>{{ player.reb }}</td>
                <td>{{ player.assists }}</td>
                <td>{{ player.steals }}</td>
                <td>{{ player.blocks }}</td>
                <td>{{ player.turnovers }}</td>
                <td>{{ player.personal_fouls }}</td>
            </tr>
        {% endfor %}
    </table>

    <h4><a name="players_per_game">Per Game</a></h4>
    <table>
        <tr>
            <th>Player</th>
            <th>Age</th>
            <th>GP</th>
            <th>GS</th>
            <th>MP</th>
            <th>PTS</th>
            <th>FGM</th>
            <th>FGA</th>
            <th>FG%</th>
            <th>3PM</th>
            <th>3PA</th>
            <th>3P%</th>
            <th>FTM</th>
            <th>FTA</th>
            <th>FT%</th>
            <th>ORB</th>
            <th>DRB</th>
            <th>TRB</th>
            <th>AST</th>
            <th>STL</th>
            <th>BLK</th>
            <th>TOV</th>
            <th>PF</th>
        </tr>
        {% for player in player_per_game_table %}
            <tr>
                <td><a href="{{ player.player.get_absolute_url }}">{{ player.full_name }}</a></td>
                <td>{{ player.age }}</td>
                <td>{{ player.games_played }}</td>
                <td>{{ player.games_started }}</td>
                <td>{{ player.minutes_played }}</td>
                <td>{{ player.points_scored }}</td>
                <td>{{ player.fg_made }}</td>
                <td>{{ player.fg_attempts }}</td>
                <td>{{ player.fg_percent }}</td>
                <td>{{ player.three_pt_made }}</td>
                <td>{{ player.three_pt_attempts }}</td>
                <td>{{ player.three_pt_percent }}</td>
                <td>{{ player.ft_made }}</td>
                <td>{{ player.ft_attempts }}</td>
                <td>{{ player.ft_percent }}</td>
                <td>{{ player.offensive_reb }}</td>
                <td>{{ player.defensive_reb }}</td>
                <td>{{ player.reb }}</td>
                <td>{{ player.assists }}</td>
                <td>{{ player.steals }}</td>
                <td>{{ player.blocks }}</td>
                <td>{{ player.turnovers }}</td>
                <td>{{ player.personal_fouls }}</td>
            </tr>
        {% endfor %}
    </table>

    {% if league.id == 1 %}
        <h4><a name="players_per_x_min">Per 36</a></h4>
    {% else %}
        <h4><a name="players_per_x_min">Per 30</a></h4>
    {% endif %}
    <table>
        <tr>
            <th>Player</th>
            <th>Age</th>
            <th>GP</th>
            <th>GS</th>
            <th>MP</th>
            <th>PTS</th>
            <th>FGM</th>
            <th>FGA</th>
            <th>FG%</th>
            <th>3PM</th>
            <th>3PA</th>
            <th>3P%</th>
            <th>FTM</th>
            <th>FTA</th>
            <th>FT%</th>
            <th>ORB</th>
            <th>DRB</th>
            <th>TRB</th>
            <th>AST</th>
            <th>STL</th>
            <th>BLK</th>
            <th>TOV</th>
            <th>PF</th>
        </tr>
        {% for player in player_per_three_six_table %}
            <tr>
                <td><a href="{{ player.player.get_absolute_url }}">{{ player.full_name }}</a></td>
                <td>{{ player.age }}</td>
                <td>{{ player.games_played }}</td>
                <td>{{ player.games_started }}</td>
                <td>{{ player.minutes_played }}</td>
                <td>{{ player.points_scored }}</td>
                <td>{{ player.fg_made }}</td>
                <td>{{ player.fg_attempts }}</td>
                <td>{{ player.fg_percent }}</td>
                <td>{{ player.three_pt_made }}</td>
                <td>{{ player.three_pt_attempts }}</td>
                <td>{{ player.three_pt_percent }}</td>
                <td>{{ player.ft_made }}</td>
                <td>{{ player.ft_attempts }}</td>
                <td>{{ player.ft_percent }}</td>
                <td>{{ player.offensive_reb }}</td>
                <td>{{ player.defensive_reb }}</td>
                <td>{{ player.reb }}</td>
                <td>{{ player.assists }}</td>
                <td>{{ player.steals }}</td>
                <td>{{ player.blocks }}</td>
                <td>{{ player.turnovers }}</td>
                <td>{{ player.personal_fouls }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}


