{% load staticfiles %}
{% load main_nav_tags %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}">
</head>
<body>

{# same header for everything #}
<header>
    <nav id="hb-top-nav">
        <ul>
            <a href="{% url 'home_page' league.code %}"><li>Home</li></a>
            <a href="http://humblebola.com/advanced-stats-primer/"><li>Advanced Stats 101</li></a>
            {% show_leagues league %}
        </ul>
        <ul>
            <a href="https://www.facebook.com/HumbleBola/"><li>Facebook</li></a>
            <a href="https://twitter.com/HumbleBola_"><li>Twitter</li></a>
        </ul>
    </nav>
    <nav id="hb-main-nav">
        <ul>
            <a href="{% url 'tournaments:schedule' league.code %}"><li>Scores & Schedule</li></a>
            <li><a href="#">Teams</a>
            <ul>{% show_teams league %}</ul>
            </li>
            <a href="{% url 'players:player_home_page' league.code %}"><li>Players</li></a>
        </ul>
    </nav>
</header>
{% block content %}{% endblock content %}
<footer>
    <ul>
        <li>About</li>
        <li>Contact Us</li>
        <p>&copy; 2016 HumbleBola</p>
    </ul>
</footer>
</body>
</html>
