<a href="{% url 'teams:team:index' league.code team.code %}"><p>Team Index Page</p></a>
{% if previous_tournament_link %}
    <a href="{{ previous_tournament_link }}"><p><< {{ previous_tournament.name }}</p></a>
{% endif %}
{% if next_tournament_link %}
    <a href="{{ next_tournament_link }}"><p>{{ next_tournament.name }} >></p></a>
{% endif %}
<ul>
<li>Seasons
    {% if league.id == 1 %}
        {% regroup tournaments_table by tournament.parent.short_name as tournament_list %}
        <ul>
        {% for tournament in tournament_list %}
            {% if tournament.grouper %}
                <li>{{ tournament.grouper }}
                <ul>
                    {% for item in tournament.list %}
                        <li><a href="{% url 'teams:team:tournament:tournament_page' league.code team.code item.tournament.id %}">{{ item.tournament.short_name }}</a></li>
                    {% endfor %}
                </ul>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    {% else %}
        <ul>
        {% for item in tournaments_table %}
            <li><a href="{% url 'teams:team:tournament:tournament_page' league.code team.code item.tournament.id %}">{{ item.tournament.short_name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
</li>
<li>Roster & Stats
    <ul>
        <li><a href="{% url 'teams:team:tournament:tournament_page' league.code team.code tournament.id %}#roster">Roster</a></li>
        <li><a href="{% url 'teams:team:tournament:tournament_page' league.code team.code tournament.id %}#team_stats">Team & Opponent Stats</a></li>
        <li><a href="{% url 'teams:team:tournament:tournament_page' league.code team.code tournament.id %}#players_totals">Players: Totals</a></li>
        <li><a href="{% url 'teams:team:tournament:tournament_page' league.code team.code tournament.id %}#players_per_game">Players: Per Game</a></li>
        {% if league.id == 1 %}
            <li><a href="{% url 'teams:team:tournament:tournament_page' league.code team.code tournament.id %}#players_per_x_min">Players: Per 36 Min</a></li>
        {% else %}
            <li><a href="{% url 'teams:team:tournament:tournament_page' league.code team.code tournament.id %}#players_per_x_min">Players: Per 30 Min</a></li>
        {% endif %}
    </ul>
</li>
<li>Schedule and Results</li>
<li>Others
    <ul>
        <li>Game Log</li>
        <li>Starting Lineups</li>
    </ul>
</li>
</ul>
<p>Record: {{ record.win }}-{{ record.loss }}</p>
<p>ORTG: {{ ortg }}</p>
<p>DRTG: {{ drtg }}</p>
